
body{
    display: flex;
    justify-content: center;
}
.post-page{
    position:relative; 
    top:15rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}


@media(min-width:768px) and (max-width:991px){
    .post-page{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:767.99px){
    .post-page{
       display: block;
    }
}