 :root{
 --main-color:#126583;
 --black:#040404;
 --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
 --font: #706f70;
 --border:1px solid rgba(0,0,0,0.2);
}
*{
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Open Sans", sans-serif;
}
.header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
   box-shadow: var(--box-shadow);
   background-color: #fff;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   padding: 1.2rem;
}
.header .logo{
   color: var(--main-color);
   font-size:2.5rem;
}
.header .navbar{
display: flex;
justify-content: space-between;
text-align: center;
}
.header .navbar a{
color: var(--black);
margin-right: 2rem;
font-size: 1.3rem;
font-weight: bold;
text-transform: capitalize;
}
.header .navbar a:hover{
   color: var(--main-color);
}
.header .icons i{
font-size: 1.5rem;
height: 4.5rem;
line-height: 4.5rem;
width: 4.5rem;
color: var(--black);
background-color: #fff;
border-radius: 50%;
margin-left: 1.7rem;
cursor: pointer;
text-align: center;
}
.header .icons i:hover{
color: #fff;
background-color: var(--main-color); 
}
.header .search-form{
background: #fff;
border-radius: 3rem;
display: flex;
align-items: center;
box-shadow: var(--box-shadow);
height: 4rem;
width: 20rem;
padding: 1rem;
}
.header .search-form input{
border: none;
width: 100%;
height: 100%;
border-radius: 3rem;
padding-left: 10px;
font-size: 1rem;
color: var(--black);
}

.regist {
display: flex;
list-style:none;
}
.regist button{
width: 100px;
height: 50px;
border: none;
border-radius: 10px;
font-size: 20px;
}.login{
background: white;
color: var(--main-color);
font-weight: bold;
}
.login:hover{
border: 2px solid var(--main-color);
color: #706f70;
cursor: pointer;
font-weight: bold;
}
.sign{
background: var(--main-color);
color: #fff;
font-weight: bold;
cursor: pointer;
}
.sign:hover{
border: 2px solid var(--main-color);
background: white;
color: var(--main-color);
font-weight: bold;
cursor: pointer;
}
#menu-bars{
display: none;
}
/* home section */

.home{
min-height: 80vh;
padding-top: 13rem;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.home  .home-text{
text-align:left;
border-radius: 0.5rem;
box-shadow: var(--box-shadow);
padding: 3rem;
width: 70rem;
}.home .home-text h3{
font-size: 1.5rem;
color: var(--main-color);
}
.home .home-text p{
font-size: 1.5rem;
color: var(--font);
}.img-home{
background-image: url(/Blogify-task/img/home.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 70rem;
height: 20rem;
border-radius: 1rem;
position: relative;
opacity: 0.8;
}.img-home button{
   position: absolute;
   top: 40%;
   right: 40%;
   border-radius: 50px;
   font-weight: bold;
   border: none;
   cursor: pointer;
   width: 50px;
   height: 50px;
   background: var(--main-color);
}.post{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
   align-items: center;
   text-align: center;
}
.new-card{
   margin-top: 10px;
   text-align: left;
   border-radius: 10px;
   width: 20rem;
   height: 30rem;
   box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}.card-content .links a{
width: 10px;
font-size: 11px;
margin: 5px;
border-radius: 10px;
color: var(--font);
background-color: #f0e9f0;
}
.card-content .links a .puplishAt{
font-size: 12px;
}
.card-content{
border-radius: 10px;
background:  rgba(252, 255, 255, 0.13);
display: flex;
flex-direction: column;
justify-content: space-between;
width: 20rem;
height: 15rem;
padding: 10px;
}.new-card img{
   border-radius: 10px;
   width: 20rem;
   height: 10rem;
}.card-content h2{
   color: var(--main-color);
   font-size: 1rem;
}
.card-content p{
font-size: 0.8rem;
}
.card-content .read-more{
   color: var(--black);
   text-decoration: underline;
}
.headerBlog{
   display: inline-flex;
   justify-content: space-between;
   margin-bottom: 2rem;
}
.headerBlog .text{
   margin-right: 40px;
   margin-left: 40px;
   margin-top: 5px;
   color: var(--font);
}
.headerBlog .btnfilter{
   width: 100px;
   height: 2rem;
   border-radius:10px ;
   font-size: 1rem;
   color: var(--main-color);
   border: none;
   cursor: pointer;
}
.headerBlog .btnsort{
   width: 50px;
   height: 2rem;
   border-radius:10px ;
   font-size: 1rem;
   color: var(--main-color);
   border: none;
   cursor: pointer;
}
.sorticon{
   display: flex;
   justify-content: space-around; 
   align-items: center;
}
.sorticon select{
   width: 80px;
   height: 2rem;
   border-radius:10px ;
   font-size: 1rem;
   color: var(--main-color);
   border: none;
   cursor: pointer;

}
.blog{
   align-items: center;

   position: relative;
   top: 5rem;
   display: flex;

   flex-direction: column;
}.blogContent{
   display: flex;

}.content-post{
   margin: 1rem; 
   display: flex;
   flex-direction: column;
}.box{
   width: 25rem;
   height:15rem;
   border: var(--border);
   overflow-y: auto;
   margin-bottom: 20px;
   margin-top: 20px;
}.box .tittle{
padding-left: 10px;
font-size: 1.5rem;
background-color: var(--main-color);
color: #fff;
position: sticky;
top: 0;
left: 0;
right: 0;
}

.box .categories  a svg{
   padding-top: 7px;

}
.box .categories a{
   padding-left: 10px;
   display: flex;
   justify-content: left;
   border-bottom: var(--border);
   color: var(--black);
   font-weight: bold;
   font-size: 1.2rem;
}.tags span{
   padding: 5px;
   display: inline-flex;
   width:fit-content;
   height: 40px;
   border-radius: 10px;
   background-color: #e5e3e5;
   font-size: 1.3rem;
   margin: 15px;
}.explore{ 
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 5rem;
   cursor: pointer;
   box-shadow: var(--box-shadow);
   font-size: 1.5rem;
   border-radius: 10px;
   border: none;
   background-color: var(--main-color);
   width: 15rem;
   height: 4rem;
}.explore a{
   color: #fff;
}.explore svg{
   padding-top: 5px;
}.contact{
   background-color:rgb(226, 226, 226);
   min-height: 30vh;
   margin-top: 13rem;
   align-items: center;
   text-align: center;
   display: flex;
   justify-content: center;
   }.contact .tittle h2{
      font-size: 2rem;
      width: 20rem;
      color: var(--main-color);
      
   }.Subscribe {
      width: 50rem;
      display: flex;
      flex-direction: column;
   }.Subscribe p{
      font-size: 1.5rem;
   }.Subscribe button {
      width: 12rem;
      height: 3rem;
      border: none;
      font-size: 1.3rem;
      box-shadow: var(--box-shadow);
   }.Subscribe button a{
      color: var(--main-color);
   }footer{
      height: 30vh;
      background-color: #040404;
   }footer .contact-links{
      height: 15vh;
      background-color: #126583;
      display: flex;
      justify-content: space-around;
      align-items: center;
      
   }footer .contact-links a{
      color: #fff;
   }footer .back{
      background-color:rgb(226, 226, 226);;
      height: 15vh;
      padding-top: 1.5rem;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      
   }footer .back:hover{
      cursor: pointer;
   }footer .back a{
      font-size: 1.5rem;
      color: var(--black);
   }
   .popularpost{
      display: flex;
      align-items: center;
      margin-top: 10px;
      width: 400px;
      height: fit-content;
      border: 1px solid rgba(175, 175, 175, 0.2);
      box-shadow: var(--box-shadow);
   }
.popularpost img{
   width: 100px;
   height: 100px;
}
.popularpost h4{
   padding-left: 10px;
   font-size: 0.8rem;
}
@media(min-width:768px) and (max-width:1029.99px) {
   .header{
      padding: 1.5rem;
   }.post{
   
      grid-template-columns: repeat(1,1fr);
      } #menu-bars{
      display: inline-block;
   }.header .navbar{
      z-index: 2;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      border: var(--border);
      background: #fff;
   }.header .navbar.active{
      display: block;
   }.header .search-form{
      /* z-index: 2; */
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: var(--border);
      width: 100%;
      border-radius: 0;
      background: #fff;
      display: flex;
   }.header .navbar a{
      display: block; 
      background: #fff;
      padding: 1.5rem;
      margin: 1.5rem;
      border: var(--border);
   }.img-home{
   
      width: 40rem;
         height: 20rem;
}
.home  .home-text{

width: 40rem;
}
.popularpost{
   width: 400px;
   height: fit-content;
   }.popularpost img{
    width: 200px;
   }}
/* tablet  */
@media (min-width:451px) and (max-width:767.99px) {
   #menu-bars{
      display: inline-block;
   }.header .navbar{
      z-index: 2;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      border: var(--border);
      background: #fff;
   }.header .navbar.active{
      display: block;
   }.header .search-form{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: var(--border);
      width: 100%;
      border-radius: 0;
      background: #fff;
      display: flex;
   }.header .navbar a{
      display: block; 
      background: #fff;
      padding: 1.5rem;
      margin: 1.5rem;
      border: var(--border);
   }.img-home{
   
      width: 30rem;
      height: 20rem;
}.post{
   grid-template-columns: repeat(1,1fr);
   }.home  .home-text{
   width: 30rem;
}.popularpost{
   width: 400px;
   height: fit-content;
   }.popularpost img{
   width: 200px;
   }.blogContent{
   flex-direction: column;
   align-items: center;
   }
}

/* small screen */
@media screen and (max-width:450.99px) {
   html{
      font-size: 50%;
   
   }#menu-bars{
      display: inline-block;
   }.header .navbar{
      z-index: 2;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      border: var(--border);
      background: #fff;
   }.header .navbar .active{
      display: block;
   }.header .search-form{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: var(--border);
      width: 100%;
      border-radius: 0;
      background: #fff;
      display: flex;
   }.header .navbar a{
      display: block; 
      background: #fff;
      padding: 1.5rem;
      margin: 1.5rem;
      border: var(--border);
   }.img-home{
   
      width: 50rem;
      height: 20rem;
}.home{
   padding-top: 20rem;
   width: 20rem;
}.post{  
   grid-template-columns: repeat(1,1fr);
   }.popularpost{
   width: 300px;
   height: fit-content;
   }.blogContent{
   flex-direction: column;
   }
}
